version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-firefox_firefox_1
      APP_PORT: "3000"
  firefox:
    image: linuxserver/firefox:1147.0.2 # Docker image for the Firefox browser
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - FIREFOX_CLI=https://community.bigbeartechworld.com/ # Set the default URL to Big Bear Tech World
    shm_size: 1gb # Allocate 1 GB of shared memory
    volumes:
      - ${APP_DATA_DIR}/config:/config # Mount the config directory for persistent data
