# Docker Compose version
version: "3.7"

# List of services to be run
services:
  app_proxy:
    # Set environment variables for app_proxy service
    environment:
      APP_HOST: big-bear-umbrel-glances_server_1 # Hostname of the application
      APP_PORT: 61208 # Port number of the application
      PROXY_AUTH_ADD: "false" # Whether to add authentication for the proxy

  server:
    # Docker image to use
    image: nicolargo/glances:3.4.0.3-full # Docker image with specific version

    # Environment variables for the server service
    environment:
      - TZ=UTC # Timezone for the container
      - GLANCES_OPT=-w # Glances option to run as a web server

    # Use the host's PID namespace to allow container processes to be visible on the host
    pid: host

    # Container restart policy - restart unless manually stopped
    restart: unless-stopped

    # Volumes to mount into the container for persistent storage and access
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mount the Docker socket to allow monitoring of Docker containers from within the Glances container
