version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-adguard-home_server_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"

  server:
    image: adguard/adguardhome:v0.107.63
    restart: on-failure
    ports:
      # plain DNS
      - 53:53/tcp
      - 53:53/udp
      # DHCP Server
      # - 67:67/udp
      # - 68:68/tcp
      # - 68:68/udp
      # HTTP
      # - 7200:80/tcp
      # - 7200:80/udp
      # Setup
      - 7201:3000/tcp
      - 7201:3000/udp
      # DNS-over-HTTPS
      # - 443:443/tcp
      # - 443:443/udp
      # DNS-over-TLS
      - 853:853/tcp
      # DNS-over-QUIC
      - 784:784/udp
      - 853:853/udp
      - 8853:8853/udp
    volumes:
      - ${APP_DATA_DIR}/data/adguardhome/work:/opt/adguardhome/work
      - ${APP_DATA_DIR}/data/adguardhome/conf:/opt/adguardhome/conf
