# Configuration for pwpush setup
# Name of the big-bear-pwpush application
version: "3.7"
# Service definitions for the big-bear-pwpush application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-passwordpusher_big-bear-pwpush_1
      APP_PORT: "5100"
  # Service name: big-bear-pwpush
  # The `big-bear-pwpush` service definition
  big-bear-pwpush:
    # Image to be used for the container
    image: pglombardo/pwpush:1.65.3
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      # Database connection string
      DATABASE_URL: "mysql2://pwpusher:6280144a-56af-486f-9088-ac7301399328@big-bear-pwpush-db:3306/passwordpusher_db"
      # Password expiration settings
      PWP__PW__EXPIRE_AFTER_DAYS_DEFAULT: "1"
      PWP__PW__EXPIRE_AFTER_VIEWS_MIN: "1"
      PWP__PW__RETRIEVAL_STEP_DEFAULT: "true"
    # Volumes to be mounted to the container
    volumes:
      # Storage volume
      - ${APP_DATA_DIR}/storage:/opt/PasswordPusher/storage:rw
    networks:
      - big_bear_pwpush_network
  big-bear-pwpush-db:
    image: mariadb:10.6.5
    environment:
      MARIADB_USER: "pwpusher"
      MARIADB_PASSWORD: "6280144a-56af-486f-9088-ac7301399328"
      MARIADB_DATABASE: "passwordpusher_db"
      MARIADB_RANDOM_ROOT_PASSWORD: "yes"
    volumes:
      - ${APP_DATA_DIR}/mysql:/var/lib/mysql
    networks:
      - big_bear_pwpush_network
networks:
  big_bear_pwpush_network:
    driver: bridge
