version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-speedtest-tracker_server_1
      APP_PORT: 80

  server:
   image: henrywhitaker3/speedtest-tracker
   volumes:
     - ${APP_DATA_DIR}/speedtest/data:/config
   environment:
     - PGID=1000
     - PUID=1000
     - OOKLA_EULA_GDPR=true
   logging:
     driver: "json-file"
     options:
       max-file: "10"
       max-size: "200k"
   restart: unless-stopped
