# Configuration for pihole-unbound setup
# Name of the big-bear-pihole-unbound application
version: "3.7"
# Service definitions for the big-bear-pihole-unbound application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-pihole-unbound_app_1
      APP_PORT: "53"
  # Service name: app
  # The `app` service definition
  app:
    # Image to be used for the container
    image: bigbeartechworld/big-bear-pihole-unbound:2026.02.0
    # Container restart policy
    restart: unless-stopped
    # Environment variables
    environment:
      TZ: "America/Chicago"
      FTLCONF_webserver_api_password: "your_password"
      FTLCONF_dns_upstreams: "127.0.0.1#5353" # Use Unbound IPs delimited by ; ex: 8.8.8.8;8.8.4.4
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local ${APP_DATA_DIR}/etc directory to /etc/pihole/ inside the container
      - ${APP_DATA_DIR}/etc:/etc/pihole/
      # Mounting the local ${APP_DATA_DIR}/dnsmasq.d directory to /etc/dnsmasq.d inside the container
      - ${APP_DATA_DIR}/dnsmasq.d:/etc/dnsmasq.d/
    networks:
      # Define the network for pihole-unbound
      - pihole-unbound-network # Name of the network used by pihole-unbound
# Define the networks section
networks:
  # Define the pihole-unbound-network
  pihole-unbound-network:
    # Set the network driver to bridge
    driver: bridge
