# Configuration for node-red setup
# Application Name
version: "3.7"
# Services used in the application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-node-red_app_1
      APP_PORT: "1880"
  # The `app` service for the node-red application
  app:
    # Docker image to be used
    image: nodered/node-red:4.1.3
    # Restart policy for the service
    restart: unless-stopped
    # Volumes for the service HOST -> CONTAINER
    volumes:
      - ${APP_DATA_DIR}/data:/data
