# Configuration for jellystat setup
# Name of the big-bear-jellystat application
version: "3.7"
# Service definitions for the big-bear-jellystat application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-jellystat_big-bear-jellystat_1
      APP_PORT: "3000"
  # Service name: big-bear-jellystat
  # The `big-bear-jellystat` service definition
  big-bear-jellystat:
    # Image to be used for the container
    image: cyfershepard/jellystat:1.1.8
    # Container restart policy
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=8a23ad09-61cf-4178-a783-6d4586496e3a
      - POSTGRES_IP=big-bear-jellystat-db
      - POSTGRES_PORT=5432
      - JWT_SECRET="my-secret-jwt-key"
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/backup-data:/app/backend/backup-data
    networks:
      - big-bear-jellystat-network
  big-bear-jellystat-db:
    image: postgres:15.2
    environment:
      POSTGRES_DB: "jfstat"
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 8a23ad09-61cf-4178-a783-6d4586496e3a
    volumes:
      - ${APP_DATA_DIR}/postgres-data:/var/lib/postgresql/data # Mounting the volume
    networks:
      - big-bear-jellystat-network
networks:
  big-bear-jellystat-network:
    name: big-bear-jellystat-network
    driver: bridge
