# Configuration for semaphore setup
# Name of the big-bear-semaphore application
version: "3.7"
# Service definitions for the big-bear-semaphore application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-semaphore_big-bear-semaphore_1
      APP_PORT: "3000"
  # Service name: big-bear-semaphore
  # The `big-bear-semaphore` service definition
  big-bear-semaphore:
    # Image to be used for the container
    image: semaphoreui/semaphore:v2.16.50
    # Container restart policy
    restart: unless-stopped
    # Environment variables for configuration
    environment:
      SEMAPHORE_DB_USER: semaphore
      SEMAPHORE_DB_PASS: semaphore
      SEMAPHORE_DB_HOST: big-bear-semaphore-db
      SEMAPHORE_DB_PORT: "3306"
      SEMAPHORE_DB_DIALECT: mysql
      SEMAPHORE_DB: semaphore
      SEMAPHORE_ADMIN_PASSWORD: password
      SEMAPHORE_ADMIN_NAME: admin
      SEMAPHORE_ADMIN_EMAIL: admin@example.com
      SEMAPHORE_ADMIN: admin
      TZ: UTC
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/home:/etc/semaphore # Configuration files for Semaphore
      - ${APP_DATA_DIR}/lib:/var/lib/semaphore # Local storage for Semaphore data (not needed if using an external database)
    networks:
      - big-bear-semaphore-network
  # MySQL database service for semaphore
  big-bear-semaphore-db:
    image: mysql:8.0
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/mysql:/var/lib/mysql # Data directory for MySQL
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes" # Generate a random root password
      MYSQL_DATABASE: "semaphore" # Database name to create
      MYSQL_USER: "semaphore" # Database user
      MYSQL_PASSWORD: "semaphore" # Database password
    networks:
      - big-bear-semaphore-network
networks:
  big-bear-semaphore-network:
    driver: bridge # Specifies network driver type
