version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-portainer_server_1
      APP_PORT: 9000
      PROXY_AUTH_ADD: "false"

  server:
    image: portainer/portainer-ce:2.30.1
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APP_DATA_DIR}/data/portainer/data:/data
