# Configuration for healthchecks setup
# Name of the big-bear-healthchecks application
version: "3.7"
# Service definitions for the big-bear-healthchecks application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-healthchecks_big-bear-healthchecks_1
      APP_PORT: "8000"
  # Service name: big-bear-healthchecks
  # The `big-bear-healthchecks` service definition
  big-bear-healthchecks:
    # Image to be used for the container
    image: linuxserver/healthchecks:3.13.20260112
    # Container restart policy
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SITE_ROOT=http://umbrel.local
      - SITE_NAME="Big Bear HealthChecks"
      - SUPERUSER_EMAIL=user@example.com
      - SUPERUSER_PASSWORD=8a4c087a-2652-4d12-a6cc-feeb60e59dd4
      - ALLOWED_HOSTS= #optional
      - APPRISE_ENABLED=False #optional
      - CSRF_TRUSTED_ORIGINS= #optional
      - DEBUG=True #optional
      - DEFAULT_FROM_EMAIL= #optional
      - EMAIL_HOST= #optional
      - EMAIL_PORT= #optional
      - EMAIL_HOST_USER= #optional
      - EMAIL_HOST_PASSWORD= #optional
      - EMAIL_USE_TLS= #optional
      - INTEGRATIONS_ALLOW_PRIVATE_IPS= #optional
      - PING_EMAIL_DOMAIN= #optional
      - RP_ID= #optional
      - SECRET_KEY="b2ea4094-c950-4890-b85f-301d8a777af2" #optional
      - SITE_LOGO_URL= #optional
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/config:/config
