# Configuration for flowise setup
# Name of the big-bear-flowise application
version: "3.7"
# Service definitions for the big-bear-flowise application
services:
  app_proxy:
    environment:
      APP_HOST: big-bear-umbrel-flowise_big-bear-flowise_1
      APP_PORT: "8009"
  # Service name: big-bear-flowise
  # The `big-bear-flowise` service definition
  big-bear-flowise:
    # Image to be used for the container specifies the flowise version and source
    image: flowiseai/flowise:3.0.13
    # Container restart policy - restarts the container unless manually stopped
    restart: unless-stopped
    # Entrypoint to be used for the container
    entrypoint: /bin/sh -c "sleep 3; flowise start"
    # Environment variables to be set in the container for application configuration
    environment:
      - PORT=8009
      - FLOWISE_USERNAME=bigbear
      - FLOWISE_PASSWORD=b0f91e4c-9d4b-4375-bc9b-9b57667ce7ab
      - FLOWISE_SECRETKEY_OVERWRITE="true"
      - LANGCHAIN_ENDPOINT=""
      - LANGCHAIN_API_KEY=""
      - LANGCHAIN_PROJECT=""
      - LANGCHAIN_TRACING_V2=""
      - DISABLE_FLOWISE_TELEMETRY="true"
      - DATABASE_PATH=/root/.flowise
      - APIKEY_PATH=/root/.flowise
      - SECRETKEY_PATH=/root/.flowise/logs
      - LOG_PATH=/root/.flowise
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/data:/root/.flowise
